@import "../../styles/mixins.scss";

.container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin: 4rem auto 6rem;

  .postGroup {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover .postCard {
      transform: scale(1.05);
    }

    &:hover .readPost {
      text-decoration-line: underline;
    }

    .postCard {
      position: relative;
      height: 320px;
      width: 100%;

      transition: all 400ms ease-out;

      .imageCover {
        object-fit: cover;
        object-position: left;
        border-radius: 0.5rem;
      }

      .postTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: var(--black-opacity);
        filter: opacity(20);
        backdrop-filter: blur(8px);
        padding: 20px;
        border-radius: 0 0 0.5rem 0.5rem;

        .title {
          font-weight: 700;
          margin-bottom: 0.3rem;
        }
      }

      .categoryGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .category {
          text-align: center;
          background-color: var(--yellow-900);
          color: var(--black);
          padding: 4px 12px;
          font-weight: 500;
          font-size: 0.8rem;
          border-radius: 50px;
        }
      }
    }

    .description {
      margin-top: 2rem;

      .descriptionTitle {
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration-line: underline;
      }

      .descriptionText {
        color: var(--slate-900);
        margin-top: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .readPost {
      margin-top: 0.8rem;
      font-weight: 700;
      display: flex;
      align-items: center;

      transition: all 400ms ease-out;

      .descriptionSVG {
        margin-left: 0.2rem;
      }
    }
  }
}
