@import "../../styles/mixins.scss";

@include desktop {
  .bannerTitle {
    font-size: 3.5rem;
  }

  .bannerDesc {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 720px;
  }
}

@include tablet {
  .bannerTitle {
    font-size: 2rem;
  }

  .bannerDesc {
    font-size: 1.2rem;
  }
}

@include cellphone {
  .bannerTitle {
    font-size: 1.5rem;
  }

  .bannerDesc {
    font-size: 1rem;
  }
}

.banner {
  background-color: var(--black);
  padding-top: 4rem;
  height: 400px;

  .degrade {
    object-fit: contain;
    object-position: 50% 0%;
    z-index: 0;
  }

  .sun {
    object-fit: none;
    object-position: 100% 0;
    z-index: 0;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1220px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    z-index: 2;

    .bannerText {
      display: flex;
      flex-direction: column;
      gap: 1.7rem;
      flex-wrap: wrap;
      width: 80%;

      .bannerTitle {
        span {
          color: var(--yellow-900);
        }
      }
    }
  }
}
