.container {
  position: relative;

  .graphicsPic {
    object-fit: none;
    object-position: 50% 0%;
  }

  section {
    max-width: 1220px;
    min-height: 90vh;
    margin: 0 auto;
    padding: 8rem 0.5rem 0;
    position: relative;
    color: var(--slate-100);

    .numberedHeaders {
      display: flex;
      white-space: nowrap;
      -webkit-box-align: center;
      align-items: center;
      margin-bottom: 3rem;
      font-size: 1.9rem;
      font-weight: 600;
      color: var(--slate-100);

      &::before {
        position: relative;
        bottom: 0.2rem;
        counter-increment: section 1;
        content: "0" counter(section) ".";
        margin-right: 10px;
        color: var(--yellow-900);
        font-family: var(--fira-font);
        font-weight: 400;
        font-size: 1.5rem;
      }

      &::after {
        content: "";
        display: block;
        position: relative;
        width: 300px;
        height: 1px;
        margin-left: 20px;
        background-color: var(--slate-100);
        filter: brightness(0.3);
      }
    }
  }

  .sectionAbout {
    max-width: 900px;
  }

  .containerContact {
    margin: 4rem 0 3rem;
    text-align: center;
    position: relative;

    .contactPic {
      position: relative !important;
      top: 20px !important;
      height: unset !important;
      width: unset !important;
      object-fit: contain;
    }
  }



  .sectionSkills {
    max-width: 1100px;


  }

  .sectionWork {
    max-width: 900px;
  }

  // .socialContainer {
  //   display: flex;
  //   justify-content: space-between;
  //   max-width: 1220px;
  //   margin: 0 auto;
  //   padding: 0 0.5rem;

  //   .socials {
  //     display: flex;
  //     width: 40%;
  //     flex-direction: column;
  //     justify-content: center;

  //     a {
  //       display: flex;
  //       align-items: center;

  //       &:not(:last-child) {
  //         margin-bottom: 2rem;
  //       }

  //       svg {
  //         font-size: 3rem;
  //         margin-right: 0.7rem;
  //       }

  //       h3 {
  //         font-weight: 500;
  //         margin-bottom: 0.2rem;
  //       }
  //     }
  //   }
  // }

  // .messageContainer {
  //   p {
  //     margin-bottom: 2rem;
  //   }

  //   textarea {
  //     width: 100%;
  //     padding: 0.5rem;
  //     background-color: var(--gray-200);
  //     font-family: inherit;
  //     font-weight: 600;
  //     font-size: 1rem;
  //     border-radius: 0.2rem;

  //     &::placeholder {
  //       color: var(--purple-900);
  //       opacity: 1;
  //     }
  //   }

  //   .messageForm {
  //     display: flex;
  //     flex-direction: column;

  //     div {
  //       margin-bottom: 0.8rem;
  //     }

  //     div:first-child {
  //       display: flex;
  //       flex-direction: row;
  //       justify-content: space-between;
  //       width: 100%;

  //       input {
  //         width: 100%;
  //         padding: 0.5rem;
  //         background-color: var(--gray-200);
  //         font-family: inherit;
  //         font-weight: 600;
  //         font-size: 1rem;
  //         border-radius: 0.2rem;

  //         &:last-child {
  //           margin-left: 0.4rem;
  //         }

  //         &::placeholder {
  //           color: var(--purple-900);
  //           opacity: 1;
  //         }
  //       }
  //     }

  //     button {
  //       align-self: flex-end;
  //       background-color: var(--yellow-900);
  //       color: var(--white);
  //       padding: 0.4rem 2.5rem;
  //       font-size: 1.1rem;
  //       font-weight: 500;
  //       border-radius: 0.2rem;

  //       transition: filter 0.5s ease;

  //       &:hover {
  //         filter: brightness(0.8);
  //       }
  //     }
  //   }
  // }
}
