@import "../../../../../styles/mixins.scss";

.article {
  max-width: 1220px;
  margin: 5rem auto;

  .postHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .postHeaderContent {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      filter: opacity(10%);

      .imageCover {
        object-fit: cover;
        object-position: center;
        margin: 0 auto;
      }
    }

    .postHeaderBox {
      padding: 20px 40px;
      width: 100%;
      background-color: var(--purple-200);

      .postHeaderInfo {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .postHeaderTitle {
          h1 {
            margin-bottom: 0.2rem;
            font-size: 2.5rem;
          }
          p {
            font-size: 0.9rem;
          }
        }

        .authorContainer {
          display: flex;
          align-items: center;

          .authorImage {
            border-radius: 50px;
            margin-right: 1rem;
          }
        }
      }

      .postDescription {
        margin: 2rem 0 1rem;
        font-size: 1.2rem;
        font-weight: 400;
      }



        .categoryContainer {
          display: flex;
          align-items: center;
          justify-content: end;

          .category {
            text-align: center;
            background-color: var(--yellow-900);
            padding: 5px 20px;
            font-weight: 700;
            font-size: 0.9rem;
            border-radius: 50px;
            width: fit-content;
          }
        
      }
    }
  }

  .textBody {
    max-width: 1000px;
    margin: 2.5rem auto 0;
    padding: 0 1rem;
    color: var(--slate-100);

    .seeMore{
      display: flex;
      gap: 0.3rem;
      align-items: center;

      &:hover{
        text-decoration: underline var(--yellow-900);
        text-decoration-thickness: 3px;
      }

      svg{
        color: var(--yellow-900);
        font-size: 1.4rem;
      }
    }

    p {
      margin: 1rem 0;
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }
}
