@import "../../styles/mixins.scss";

@include lessTablet {
  .container {
    display: block !important;

    .profilePic {
      margin-top: 2rem;
    }
  }
}

@include cellphone {
  .container {
    .profilePic {
      .perfilImage {
        width: 85%;
        height: auto;
      }
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;

  .profileText {
    p {
      line-height: 1.4rem;
      margin: 0 0 1rem;
    }
  }

  .skillList {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;

    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
    }

    li::before {
      content: "▹";
      position: absolute;
      left: 0;
      color: var(--yellow-900);
    }
  }

  .profilePic {
    text-align: center;

    .perfilImage {
      border: 10px solid var(--brown-500);
    }
  }
}
