.aboutMe {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 60px;

  .profileText {
    p {
      line-height: 1.4rem;
      margin: 0 0 1rem;
    }
  }

  .skillList {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;

    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
    }

    li::before {
      content: "▹";
      position: absolute;
      left: 0;
      color: var(--yellow-900);
    }
  }

  .profilePic {
    max-width: 300px;

    .wrapper {
      width: 100%;
      overflow: hidden;
      position: relative;

      .perfilImage {
        border: 10px solid var(--brown-500);
        position: relative;
      }

      &::after {
        background: #fff;
        content: "";
        height: 400px;
        left: -160px;
        opacity: 0.2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 1000;
      }
    }

    .wrapper:hover {
      &::after {
        left: 140%;
        transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
}