.expertizeContainer {
  display: flex;

  .expertizeBox {
    border: 1px solid var(--white);
    padding: 2rem;
    width: 350px;
    height: 330px;

    .boxTitle {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      svg {
        font-size: 4rem;
        margin-right: 1rem;
      }

      h3 {
        span {
          display: block;
        }

        .maior {
          margin-bottom: 0.3rem;
          z-index: 0;
          position: relative;
          font-size: 1.5rem;

          &::after {
            content: "";
            position: absolute;
            bottom: 13.5%;
            z-index: -1;
            height: 0.3em;
            width: 104%;
            left: -1%;
            background: linear-gradient(
              65deg,
              var(--purple-200) 0%,
              var(--purple-200) 100%,
              rgba(255, 209, 0, 0) 100%
            );
          }
        }
      }
    }

    .elementContainer {
      p {
        padding-left: 2.5rem;

        &::before,
        &::after {
          opacity: 0.3;
          display: block;
          margin-left: -35px;
        }

        &::before {
          content: "<h3>";
          margin-bottom: 5px;
        }
        &::after {
          content: "<h3>";
          margin-top: 5px;
        }
      }

      &::after {
        content: "";
        width: 0;
        height: 90px;
        position: absolute;
        border: 0.1px solid var(--gray-300);
        bottom: 205px;
        left: 65px;
      }
    }
  }

  .skillsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%;

    .skillsCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      height: fit-content;
      padding: 1.5rem 2rem;
      color: var(--yellow-900);
      background-color: var(--blue-900);
      font-size: 0.8rem;

      border-radius: 20px 0 0 0;
      border-bottom: 4px solid var(--yellow-900);

      svg {
        font-size: 3rem;
      }

      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.2);
        z-index: 2;
      }
    }
  }
}