.container{
  text-align: center;
  
  .cardsHolders {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .buttonMore {
    background-color: transparent;
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--yellow-900);
    color: var(--yellow-900);
    border-radius: 4px;
    font-family: var(--fira-font);
    font-size: 1.1rem;
    padding: 1rem 1.75rem;
    margin: 2rem 1rem 0px;  
    
    transition: all 0.5s ease-in-out;
  
    &:hover{
      background-color: var(--blue-900);
    }
  }
}

