@import "mixins.scss";


:root {
  --white: #fff;
  --black: #000;
  --black-opacity: #00000095;
  --black-opacity-50: #00000050;
  --transparency: #00000000;

  --gray-100: #e5e5e5;
  --gray-200: #b8b8bc;
  --gray-300: #5a5a62;

  --slate-900: #838787;
  --slate-500: #c1c9c9;
  --slate-100: #e4eded;

  --blue-900: #252525;

  --purple-900: #13131f;
  --purple-200: #7942ed;

  --yellow-900: #fca311;
  --yellow-opacity: #fca31130;
  --brown-500: #40341e;
}


body {
  counter-reset: section;
}

.blur {
  overflow: hidden;
  margin-right: 12px;

  main {
    filter: blur(5px) brightness(0.7);
    transition: var(--transition);
    pointer-events: none;
    user-select: none;
  }
}


