@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --black-opacity: #00000095;
  --black-opacity-50: #00000050;
  --transparency: #00000000;

  --gray-100: #e5e5e5;
  --gray-200: #b8b8bc;
  --gray-300: #5a5a62;

  --slate-900: #838787;
  --slate-500: #c1c9c9;
  --slate-100: #e4eded;

  --blue-900: #252525;

  --purple-900: #13131f;
  --purple-200: #7942ed;

  --yellow-900: #fca311;
  --yellow-opacity: #fca31130;
  --brown-500: #40341e;
}

@include tablet {
  html {
    font-size: 93.75%;
  }
}

@include cellphone {
  html {
    font-size: 87.5%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--purple-900);
  color: var(--white);
  counter-reset: section;
  scroll-behavior: smooth;
}

.blur {
  overflow: hidden;
  margin-right: 12px;

  main {
    filter: blur(5px) brightness(0.7);
    transition: var(--transition);
    pointer-events: none;
    user-select: none;
  }
}

button {
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
  line-height: 1;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
}

ul {
  list-style: none;
}

// Scrollbar

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--slate-900);
  border: 2px solid var(--purple-900);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--purple-900);
}
