$mediaMaxWidth: 1023px;
$mediaMidWidth: 767px;
$mediaMinWidth: 423px;

@mixin cellphone {
  @media (max-width: #{$mediaMinWidth}) {
    @content;
  }
}

@mixin lessTablet {
  @media (max-width: #{$mediaMidWidth}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mediaMinWidth}) and (max-width: #{$mediaMaxWidth}) {
    @content;
  }
}

@mixin lessDesktop {
  @media (max-width: #{$mediaMaxWidth}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$mediaMaxWidth}) {
    @content;
  }
}