$mediaMaxEqualWidth: 1024px;
$mediaMaxWidth: 1023px;
$mediaMinEqualWidth: 425px;
$mediaMinWidth: 424px;

@mixin cellphone {
  @media (max-width: #{$mediaMinWidth}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mediaMinEqualWidth}) and (max-width: #{$mediaMaxWidth}) {
    @content;
  }
}

@mixin lessDesktop {
  @media (max-width: #{$mediaMaxWidth}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$mediaMaxEqualWidth}) {
    @content;
  }
}